@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair+Display&display=swap");

.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}
.button {
  color: #ef6eae;
  transition: 0.25s;
}
.button:hover,
.button:focus {
  border-color: #ef8f6e;
  color: #fff;
}
.pulse {
  font-family: "Cormorant Garamond", serif;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  text-decoration: none;
  color: #fff;
  background-color: #212121;
}
.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.buttonBlue {
  background-color: #0f52ba;
}
.buttonRuby {
  background-color: #e0115f;
}
/* BODY */
.container {
  background-color: rgb(250 250 250);
}
/* NAVBAR */
.smallNav {
  background-color: #212121;
  color: #fbfcfc;
  height: 9vh;
}
.smallNav > p:nth-child(1) {
  font-size: 15px;
  padding: 15px;
  font-family: "Playfair Display", serif;
  float: left;
}
.smallNav > p:nth-child(2) {
  font-size: 15px;
  color: #fbfcfc;
  padding: 15px;
  font-family: "Playfair Display", serif;
  float: right;
}
/* BIG NAVBAR */
.navigation {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
}
.brandName {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
}
.brandName > p {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.8rem;
}
.navigationMenu {
  margin-left: auto;
}
.navigationMenu ul {
  display: flex;
  padding: 0;
}
.navigationMenu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigationMenu li a {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  display: block;
  width: 100%;
  color: #212121;
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

/* HEROBANNER */
.imageOne,
.imageTwo,
.imageThree {
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  margin-top: -15px;
}
.imageOne {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1668417286/hero_engagement_lzo4k8.jpg");
}
.imageTwo {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1668417284/hero_bespoke_gvnnob.jpg");
}
.imageThree {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1668417285/hero_ruby_mf7ybs.jpg");
}
.imageText,
.imageTextTwo {
  padding: 15% 10%;
}
.imageText > p:nth-child(1) {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  line-height: 40px;
  letter-spacing: 0.25px;
}
.imageText > p:nth-child(2) {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.38rem;
  line-height: 40px;
  letter-spacing: 0.25px;
}

.imageTextTwo > p:nth-child(1) {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  line-height: 40px;
  letter-spacing: 0.25px;
}
.imageTextTwo > p:nth-child(2) {
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.38rem;
  letter-spacing: 0.25px;
}

/* SPECIES */
.specieWrapper {
  margin-top: 20px;
}
.card {
  border: none;
  box-shadow: 16px 16px 32px #aaa9a9, -16px -16px 32px #ffffff;
}
.rawText {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  margin-top: 7px;
  margin-bottom: 5px;
  letter-spacing: 0.098rem;
}
.slug {
  padding-top: 7px;
  font-size: 1.29rem;
  letter-spacing: 0.25px;
  font-family: "Cormorant Garamond", serif;
}
.specieCard {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.image {
  height: auto;
  transition: 0.3s ease-in-out;
}
.image:hover {
  transform: scale(1.012);
}
.colWrapper {
  margin-top: 20px;
  padding-top: 20px;
}
.col1 {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto,w_500,c_scale/v1668418306/raw_wyyc5o.jpg");
  background-position: center;
  background-size: cover;
  height: 57vh;
}
.col2 {
  background-color: aliceblue;
  padding-bottom: 20px;
}
.socialIcon {
  display: flex;
  justify-content: center;
}
.connectText {
  text-align: center;
}
.connectText > p:nth-child(1) {
  font-family: "Playfair Display", serif;
  font-size: 2.1rem;
  margin-bottom: 7px;
  letter-spacing: 0.25px;
}
.connectText > p:nth-child(2) {
  margin-top: -10px;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.3rem;
  letter-spacing: 0.25px;
}
.connectText > p:nth-child(3) {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  padding: 0px 20px;
  font-size: 1.29rem;
}
.iconButton {
  display: flex;
  justify-content: center;
}
.videoWrapper {
  margin: 20px 0px 20px 0px;
  height: 50vh;
}
.videoCol {
  position: relative;
  overflow: hidden;
  height: 50vh;
  background-color: black;
  background-size: cover;
  background-position: center;
}
.video {
  position: absolute;
  min-width: 100%;
  z-index: 1;
  height: 50vh;
}
.video > p {
  position: absolute;
  color: #fff;
  z-index: 100;
}

/* NOTICE */
.noticeWrapper {
  margin-top: 20px;
  background-color: #ecf0f1;
  width: auto;
}
.header {
  display: grid;
  place-content: center;
  margin-top: 10%;
  padding: 10px 25px;
}
.header > p:nth-child(1) {
  font-size: 2.5rem;
  letter-spacing: 0.25px;
  font-family: "Playfair Display", serif;
}
.header > p:nth-child(2) {
  font-size: 1.29rem;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.25px;
}
.noticeImg,
.noticeImg2,
.levelDown,
.levelDown2 {
  background-size: cover;
  background-position: center;
  height: 25vh;
}
.levelDown {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto,w_500,c_scale/v1668417657/stone_oe1sgw.jpg");
}
.levelDown2 {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto,w_500,c_scale/v1668417656/gold_ring_qp8wdh.jpg");
}
.noticeImg {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto,w_500,c_scale/v1668417656/mineral-2382040_1920_d3a5jn.jpg");
}
.noticeImg2 {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto,w_500,c_scale/v1668417654/pyrite-626549_1920_u34ubq.jpg");
}
.sideFlex {
  display: flex;
}

/* WHYUS */
.whyWrapper {
  background-color: #fbfcfc;
  padding-bottom: 30px;
}
.whyWrapper > p:nth-child(1) {
  color: #2c3e50;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  padding-top: 20px;
  letter-spacing: 0.25px;
}
.whyWrapper > p:nth-child(2) {
  padding: 20px;
  font-size: 1.49rem;
  font-family: "Cormorant Garamond", serif;
  text-transform: capitalize;
}
.whyWrapper > p:nth-child(3) {
  padding: 0px 20px;
  margin-top: -20px;
  opacity: 0.6;
  font-size: 1.29rem;
  font-family: "Cormorant Garamond", serif;
}
.table > ul > li {
  font-family: "Cormorant Garamond", serif;
  opacity: 0.6;
  font-size: 1.29rem;
  margin-top: -5px;
}
/* CONTACT US */
.contactWrapper {
  background-color: #ecf0f1;
  padding-bottom: auto;
  padding-bottom: 30px;
  margin-top: 20px;
}
.contact {
  border-right: 1px solid #566573;
  height: 30vh;
}
.contact > p:nth-child(1) {
  color: #2c3e50;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  margin-top: 10%;
}
.flex {
  display: flex;
  justify-content: center;
}
.flex > p {
  color: #566573;
  margin-left: 10px;
  font-size: 1.29rem;
  font-family: "Cormorant Garamond", serif;
}
.helpline > p:nth-child(1) {
  color: #2c3e50;
  text-align: center;
  font-size: 2.3rem;
  font-family: "Playfair Display", serif;
  margin-top: 10%;
}
.helpline > p:nth-child(2) {
  font-family: "Playfair Display", serif;
  color: #566573;
  text-align: center;
}
.helpline > p:nth-child(3) {
  font-family: "Playfair Display", serif;
  color: #566573;
  text-align: center;
}
.helpline > p:nth-child(4) {
  font-family: "Playfair Display", serif;
  color: #566573;
  text-align: center;
}
/* FOOTER */
.contactArea {
  padding: 60px 0;
}
.contactSocial ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contactArea {
  border-bottom: 1px solid #353c46;
}

.contactContent p {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.29rem;
  letter-spacing: 0.25px;
  margin: 30px 0 60px;
  position: relative;
}

.contactContent p::after {
  background: #353c46;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contactContent h6 {
  font-family: "Cormorant Garamond", serif;
  color: #8b9199;
  font-size: 1.29rem;
  letter-spacing: 0.25px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contactContent span {
  color: #353c47;
  margin: 0 10px;
}

.contactSocial {
  margin-top: 30px;
}

.contactSocial > ul {
  display: inline-flex;
}

.contactSocial ul li a {
  display: inline-block;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
}
.footer {
  margin-bottom: 0px;
}
.contactArea,
.footer {
  background: rgb(250 250 250);
  color: #2c3e50;
}

.footer p {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.29rem;
  padding: 40px 0;
  text-align: center;
}

.footer img {
  width: 44px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
/* SCROLL */
.launch {
  position: relative;
}
.iconPosition {
  position: fixed;
  top: 10%;
  right: 50%;
  z-index: 20;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.iconPosition:hover {
  animation: none;
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .smallNav {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .navigationMenu ul {
    display: none;
  }
  .navigationMenu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80vh);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigationMenu li {
    text-align: center;
    margin: 0;
  }
  .navigationMenu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigationMenu li:hover {
    background-color: #eee;
  }
  .navigationMenu.expanded ul {
    display: block;
    z-index: 1;
  }
  .video {
    display: hidden;
  }
  .sideFlex {
    display: hidden;
  }
  .noticeWrapper {
    background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto,w_500,c_scale/v1668421702/ring_k8uksx.png");
    background-position: center;
    background-size: cover;
  }
  .col1 {
    display: none;
  }
  .noticeWrapper {
    height: 60vh;
  }
  .contact {
    border: none !important;
  }
  .imageText,
  .imageTextTwo {
    text-align: center;
    transform: translate(0%, 40%);
  }
  .imageText > p:nth-child(2) {
    line-height: 20px;
    margin-top: -10px;
  }
  .imageTextTwo > p:nth-child(1) {
    font-size: 2.5rem;
  }
  .iconPosition {
    right: 10%;
  }
}
