@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair+Display&display=swap");

.container {
  background-color: #95a5a6;
  height: 50vh;
}
.polishImg {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto,w_500,c_scale/v1668421384/g785f1f4e7be3265867c8bba0c73161857755fb2b5faf95875eaad86243e1a475a373361fa5b14d7df5f9e9b439de737354269e6c5f70079a9f749bbb11b2b3d2cafb09f0e94bbfb6a3566e672193d4fb_1920_kk0okk.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
}
.titleColorGreen {
  color: #50c878;
}
.titleColorRuby {
  color: #e0115f;
}
.titleColorSapphire {
  color: #0f52ba;
}
.titleColorAmethesyt {
  color: #9966cc;
}
.titleColorAlex {
  color: #498877;
}
.links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.access {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -20px;
}
/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .container {
    display: none;
  }
  .links {
    display: grid;
    grid: 90px / auto auto auto;
    grid-gap: 10px;
    overflow: hidden;
    place-content: center;
  }
}
