@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

.wrapper {
  background-color: #616a6b;
  height: 50vh;
}
.rawDiv > p:nth-child(1) {
  padding: 15% 30px 0px 30px;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 34.95px;
}
.rawDiv > p:nth-child(2) {
  padding: 0px 30px 0px 30px;
  color: #fff;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
}
.rawImgHole {
  background-image: url("/coal-1626368_1920.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: auto;
}
@media screen and (max-width: 768px) {
  .rawImgHole {
    display: none;
  }
  .rawDiv {
    position: relative;
    background-image: url("/coal-1626368_1920.jpg");
    background-position: center;
    background-size: cover;
    height: 60vh;
  }
  .rawDiv > p:nth-child(1) {
    padding-top: 50%;
    font-size: 20.56px;
  }
}
.row {
  margin-top: 20px;
}
.gemProps > p {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
}
